.test{
    .scoresup{
        right: 10px;
        top: 30px;
    }
    .prosup{
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 1%;
        right: 10px;
    }
}