.test{
   
    z-index: 3;
    progress {
        position: absolute;
        margin-top: 70px;
        width: 400px; /* Largeur de la barre de progression */
        height: 17px;
        appearance: none;
        background-color: #e0e0e0;
        border-radius: 10px;
        z-index: 2;
        top: 1%;
        right: 5%;
    }
    
    progress::-webkit-progress-bar {
        background-color: #e0e0e0;
        border-radius: 10px;
        height: 15px;
        ;
      }
    
    progress::-webkit-progress-value {
        background-color: #007bff; /* Couleur de la barre de progression */
        border-radius: 10px;
        height: 16px;
      }
    
    .score{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 30px;
        top: 35px;
        font-size: 15px;
        z-index: 0 !important;
        color: red;
        h1{
            margin-top: -15px;
            z-index: 0 !important;
        }
        p{
            z-index: 0;
        }
    }
    .timer{
        position: absolute;
        left: 10px;
        top: 25px;
        gap: -20px;
        color: #007bff;
        font-size: 20px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        .temps{
            margin-top: -9px;
        }
    }
    
}
