.quizsup{
    margin-top: 20px;
    .appsup{
        width: 370px;
        height: 510px;
        .questprinsup{
            padding: 23px 0px 23px 0px;
               height: 70px !important;
            width: 350px;
        }
        .questionsup{
            padding: 10px 5px 10px 5px;
            width: 350px;
        }
    }
    .photosup{
        img{
            width: 250px;
            height: 255px;
        }
    }
}